/* desktop first */

/* sezione desktop */
@media screen and (max-width: 1100px) {
    * {
        /* color: hotpink;  */
    }
    .player-destro {
        display: none;
      }

}
 

/* sezione tablet */
@media screen and (max-width: 900px) {
    .second-albums {
        width: calc(100% / 4 - 25px);
        margin: 12px;
    } 
    
    .lineplayed {
        width: 200px;
    }  

    .player-destro {
        display: none;
    }

}


/* sezione mobile */
@media screen and (max-width: 480px) {
    .second-albums {
        width: calc(100% / 2 - 25px);
        margin: 12px;
    } 

    .barra-up {
         display: none;
    }

    .lineplayed {
        display: none;
    }  

    .player {
        display: none;
    }

    aside {
    width: 150px;
    height: calc(100vh - 110px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

}


