/* desktop first */

/* sezione desktop */
@media screen and (max-width: 1100px) {
    * {
        /* color: hotpink;  */
    }
    .player-destro {
        display: none;
      }
}
 

/* sezione tablet */
@media screen and (max-width: 870px) {
    .second-albums {
        width: calc(100% / 4 - 25px);
    } 
    
    .lineplayed {
        width: 150px;
    }  
}


/* sezione mobile */
@media screen and (max-width: 480px) {
    .logo-small {
        position: relative;
        display: block;
    }

    .logo, 
    .logo-spotify {
        width: auto;
        height: 25px;
    }

    .second-albums {
        width: calc(100% / 2 - 25px);
        flex-direction: column;
    } 

    .first-albums {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
    }

    .lineplayed {
        width: 50px;
    }  

    .barra-up {
         display: none;
    }

    .player {
        display: none;
    }

    .cuore-cartella {
        display: none;
    }

    .lineplayed {
        display: none;
    }  

    .hr-jhon {
        width: 0px;
    }
}


