* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
}

a {
color: grey;
text-decoration: none;
}



/* bar sinistra aside */
.plus {
    font-size: 30px;
}

.playlist-size {
    font-size: 14px;
    line-height: 40px;
}

.playlist-size-due {
    padding-top: 10px;
}

.playlist-size-jhon {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

aside {
    width: 250px;
    height: calc(100vh - 110px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo, .logo-spotify  {
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top:  15px;
}

.casetta {
    width:25px;
    position: relative;
    top: 6px;
}

.square-piu {
    background-color: grey;
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    border: none;
    font-size: 20px;
    padding-top: 5px;
}

.home, .playlist, .jhon {
    margin-left: 25px;
    padding-top: 30px;
    line-height: 35px;
    color: grey;
}

.home {
    overflow: hidden;
    color: white;
    padding-top: 40px;
}


.playlist {
    height: 45vh;
    color: white;
    overflow-y: auto;
}

.playlist-text{
    text-transform:uppercase;
    position: relative; 
    bottom: 5px;
}


.crea-playlist {
    display: inline-block;
    position: relative;
    bottom: 7px;
}

ul {
     list-style-type: none;
}

.jhon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.first {
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
} 

.last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hr-jhon {
    width: 200px;
    height: 1px;
    background-color: grey;
}


.mask-jhon img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    background-color: grey;
    position: relative;
} 


.mask img:hover {
    border-radius: none;
}

.casetta-small {
    width: 16px;
    height: auto;
    padding-bottom: 3px;
}
/* bar sinistra aside */



/* main section */
main {
    height: calc(100vh - 110px);
    background-color: rgba(20,25,34,255);
    display: flex;
}

 
.barra-up  {
    width: 100%;
    height: 100px;
    z-index: 5;
    background-color: rgba(0, 169, 76, 0.118);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    overflow-y: auto;
    position: relative;
    position: fixed;
    right: 0px;
}

.ef-upgrade {
    background-color: rgba(0, 0, 0, 0.521);
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform:uppercase;
    margin-right: 20px;
}


.container-box {
    width: calc(100% - 250px);
    background-color: rgba(20,25,34,255);
    overflow-y: auto;
}  


/* album sezione  */
.first-albums {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
}

.second-albums {
    width: calc(100% / 6 - 25px);
    margin: 12px;
} 

.album img {
    width: 100%;
}

.recently {
    color: white;
    margin-left: 12px;
    padding-top: 40px;
}
.piu-ascolti {
    color: grey;
    font-size: 13px;
    padding-top: 12px;
}

.genere-album,
.titolo-album {
    text-align: center;
    padding-top: 10px;
}

.circle img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
} 

.circe img:hover {
    border-radius: none;
}



/* album sezione  */

/* main section */



/* nav centrale nel main */
.in-evidenza ul {
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 105px;
    text-transform:uppercase;
}
.in-evidenza ul li {
    margin: 10px;
    color: grey;
}
/* nav centrale nel main */



/* footer */
footer {
    position: relative;
    z-index: 4;
    height: 110px;
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}
.sinister {
    width: auto;
    height: 50px;
    display: inline-block
}

/* footer left */
.footer-left {
    display: inline-flex;
    align-items: center;
    color: grey;
}
/* footer left */



/* footer center */
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 5px;
    position: relative;
}

.played-uno {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 20px;
    padding-bottom: 10px;
}


.played-due {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 20px;
    padding-bottom: 10px;
    transform: scaleX(-1);
}

.played-tre {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 40px;
    padding-bottom: 10px;
}

.played-quattro {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 20px;
    padding-bottom: 10px;
}

.played-cinque {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 20px;
    padding-bottom: 10px;
}

.lineplayed {
    width: 450px;
    height: 4px;
    background-color: rgb(85, 85, 85);
    position: absolute;
    border-radius: 3px;
}

.zero-venticinque {
    position: absolute;
    right: 450px;
    font-size: 12px;
}

.quattro {
    position: absolute;
    left: 450px;
    font-size: 12px;
}







/* footer center */













/* footer */




