* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* main section */
main {
    height: calc(100vh - 110px);
    background-color: rgba(20,25,34,255);
}

.barra-up  {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.521);
}



































/* footer */
footer {
    height: 110px;
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.sinister {
    width: auto;
    height: 40px;
}