* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a:hover {
   color:rgb(255, 255, 255);
}

body {
   font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
}

a {
   color: grey;
   text-decoration: none;
}

/* bar sinistra aside */
.plus {
    font-size: 30px;
}

.playlist-size {
    font-size: 14px;
    line-height: 40px;
}

.playlist-size-due {
    padding-top: 10px;
}

.playlist-size-jhon {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

aside {
    width: 250px;
    height: calc(100vh - 110px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo, .logo-spotify  {
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top:  15px;
}

.casetta {
    width: 25px;
    position: relative;
    top: 6px;
}

.square-piu {
    background-color: grey;
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    border: none;
    font-size: 20px;
    padding-top: 5px;
}

.square-piu:hover {
    background-color: white;
}

.home, .playlist, .jhon {
    margin-left: 25px;
    padding-top: 30px;
    line-height: 35px;
    color: grey;
}

.home {
    overflow: hidden;
    color: white;
    padding-top: 40px;
}

.casetta:hover {
  background-color: rgba(1, 232, 66, 0.563);
}
   
.playlist {
    height: 45vh;
    color: white;
    overflow-y: auto;
}

.playlist-text{
    text-transform:uppercase;
    position: relative; 
    bottom: 5px;
}


.crea-playlist {
    display: inline-block;
    position: relative;
    bottom: 7px;
}

ul {
     list-style-type: none;
}

.jhon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.first {
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
} 

.last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hr-jhon {
    width: 200px;
    height: 1px;
    background-color: grey;
}

.mask-jhon img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    background-color: grey;
    position: relative;
} 

.mask img:hover {
    border-radius: none;
}

.casetta-small {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.casetta-small:hover{
    background-color: greenyellow);
}
/* bar sinistra aside */



/* main section */
main {
    height: calc(100vh - 110px);
    background-color: rgba(20,25,34,255);
    display: flex;
}
 
.barra-up  {
    width: 100%;
    height: 100px;
    z-index: 5;
    position: relative;
    background-color: rgba(0, 169, 76, 0.118);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    right: 0px;
}

.ef-upgrade {
    background-color: rgba(0, 0, 0, 0.521);
    height: 40px;
    width: 215px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform:uppercase;
    margin-right: 20px;
}

.ef-upgrade:hover {
    width: 255px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 16px;
}


.container-box {
    width: calc(100% - 250px);
    background-color: rgba(20,25,34,255);
    overflow-y: auto;
}  


.bar-up {
    position: relative;
    opacity: 0;
    color: lawngreen;
    font-size: 40px;
    right: 5px;
    top: 10px;
    right: 67px;
}

.bar-up:hover,
.bar-up-due:hover,
.bar-up-tre:hover,
.bar-up-quattro:hover,
.bar-up-cinque:hover {
    opacity: 1;
    color: lawngreen;
}

.bar-up-due {
    position: relative;
    opacity: 0;
    color: lawngreen;
    font-size: 40px;
    top: 10px;
    right: 57px;
}

.bar-up-tre {
    position: relative;
    opacity: 0;
    color: lawngreen;
    font-size: 40px;
    top: 10px;
    right: 80px;
}

.bar-up-quattro {
    position: relative;
    opacity: 0;
    color: lawngreen;
    font-size: 40px;
    top: 10px;
    right: 75px;
}

.bar-up-cinque {
    position: relative;
    opacity: 0;
    color: lawngreen;
    font-size: 40px;
    top: 10px;
    right: 50px;
}

/* album sezione  */
/* album effetto overlay */
.album-overlay, .circrle-uno {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.303);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.album-overlay:hover {
     background-color: rgba(0, 0, 0, 0.494);
     opacity: 2;
}
.circle-uno:hover {
     background-color: rgba(0, 0, 0, 0.494);
     opacity: 2;
     border-radius: 50%;
}
.album {
    position: relative;
}
.album img {
    width: 100%;
    display: block;
}
/* album effetto overlay */

.first-albums {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
}

.second-albums {
    width: calc(100% / 6 - 25px);
    margin: 12px;
} 

.recently {
    color: white;
    margin-left: 12px;
    padding-top: 40px;
}
.piu-ascolti {
    color: grey;
    font-size: 13px;
    padding-top: 12px;
}

.genere-album,
.titolo-album {
    text-align: center;
    padding-top: 10px;
}

.circle img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
} 

.circe img:hover {
    border-radius: none;
}
/* album sezione  */
/* main section */


/* nav centrale nel main */
.in-evidenza ul {
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 105px;
    text-transform:uppercase;
}
.in-evidenza ul li {
    margin: 10px;
    color: grey;
}
/* nav centrale nel main */



/* footer */
footer {
    position: relative;
    z-index: 4;
    height: 110px;
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}

/* footer left */
.sinister {
    width: auto;
    height: 50px;
    display: inline-block
}

.title-sinister:hover {
    color: lawngreen;
}



.footer-left {
    display: flex;
    align-items: center;
    color: grey;
}

.title-sinister :first-child {
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.title-sinister {
    padding-left :10px;
}

.cuore-cartella {
    position: relative;
    left: 40px;
}

.cuore {
    padding: 10px;
}
/* footer left */

/* footer center */
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 7px;
    position: relative;
    color: lightgrey;
    max-width: 100%;
}

.played-uno:hover, 
.played-due:hover,
.played-quattro:hover, 
.played-cinque:hover {
   color: lawngreen;
   font-size: 18px;
}
.played-tre:hover,
.zero-venticinque:hover,
.quattro:hover {
   color: lawngreen;
}

.played-uno {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 15px;
    padding-bottom: 10px;
}

.play-centrale {
    font-size: 35px;
}

/* 
.played-due {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 15px;
    padding-bottom: 10px;
    transform: scaleX(-1);
}

.played-tre {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 45px;
    height: auto;
    font-size: 30px;
    padding-bottom: 10px;
}

.played-quattro {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 15px;
    padding-bottom: 10px;
}

.played-cinque {
    background-color:rgb(26, 25, 25);
    color: lightgrey;
    border: none;
    width: 60px;
    height: auto;
    font-size: 15px;
    padding-bottom: 10px;
} */

.lineplayed {
    width: 100%;
    height: 4px;
    background-color: rgb(85, 85, 85);
    /* position: absolute; */
    border-radius: 3px;
    /* margin-bottom: 15px; */
}

.zero-venticinque {
    /* position: absolute; */
    right: 410px;
    font-size: 12px;
    padding-bottom: 16px;
}

.quattro {
    /* position: absolute; */
    left: 410px;
    font-size: 12px;
    padding-bottom: 16px;
}
/* footer center */


/* footer-right */
.footer-right {
    width: 100%;
    display: flex;
    align-items: center;
}

.lineplayed-due {
    width: 150px;
    height: 4px;
    background-color: rgb(85, 85, 85);
    border-radius: 3px;
}

.player-destro {
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 12px;
    color: lightgrey;
    padding: 5px;
}

.list {
    padding: 7px;
}

.list:hover,
.lineplayed-due:hover {
    font-size: 15px;
    color: lawngreen;
}

.lineplayed-due:hover,
.lineplayed:hover {
    height: 5px;
    background-color: lawngreen;
/* footer-right */
/* footer */

