/* desktop first */

/* sezione desktop */
@media screen and (max-width: 1100px) {
    * {
        /* color: hotpink;  */
    }
    .player-destro {
        display: none;
      }
}
 

/* sezione tablet */
@media screen and (max-width: 850px) {
    .second-albums {
        width: calc(100% / 4 - 25px);
        margin: 12px;
    } 
    
    .lineplayed {
        width: 200px;
    }  

    .barra-up {
         display: none;
    }
}


/* sezione mobile */
@media screen and (max-width: 480px) {
    .second-albums {
        width: calc(100% / 2 - 25px);
        margin: 12px;
    } 

    .barra-up {
         display: none;
    }

    .lineplayed {
        display: none;
    }  

    .player {
        display: none;
    }

    .home li a {
        display: none;
    }

    .cuore-cartella {
        display: none;
    }
}


